<html>
    <head>
        <meta charset="utf-8"/>
        <title>AccordEnergie</title>
        <link rel="stylesheet" href="style/main.css"/>
    </head>
</html>
{% block content %}
    <body>
    <nav>
        <ul>
        <li><h2>AccordEnergie</h2></li>
            {% if ( statut == 'admin' ) %}
                <li>
                    <a href="main.php?statut={{statut}}&id={{id}}"><button>Ticket</button></a></a>
                </li>
            {% endif %}
            <li>
                <a href="profil.php?statut={{statut}}&id={{id}}"><button>Profil</button></a>
            </li>
            <li>
                <a href="index.php"><button>Déconnexion</button></a>
            </li>
            <li><img src="style/logo.png" alt="Logo"></li>

        </ul>
    </nav>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Code Postal</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.postal_nb }}</td>
                    <td>{{ user.statut }}</td>
                    <td>
                        <form action="modifAdmin.php?statut={{statut}}&id={{id}}" method="post">
                            <input type="hidden" name="userModif" value="{{ user.id }}">
                            <button type="submit">Modifier</button>
                        </form>
                    </td>
                    <td>
                        <form action="admin.php" method="post">
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
