<html>
    <head>
        <meta charset="utf-8"/>
        <title>AccordEnergie</title>
        <link rel="stylesheet" href="style/index.css"/>
    </head>
</html>
{% block content %}
    <body>
        <a href="main.php?statut={{statut}}&id={{id}}"><button>Ticket</button></a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Code Postal</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.postal_nb }}</td>
                    <td>{{ user.statut }}</td>
                    <td>
                        <form action="modifAdmin.php" method="post">
                            <input type="hidden" name="userModif" value="{{ user.id }}">
                            <button type="submit">Modifier</button>
                        </form>
                    </td>
                    <td>
                        <form action="admin.php" method="post">
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
