<html>
    <head>
        <meta charset="utf-8"/>
        <title>AccordEnergie</title>
        <link rel="stylesheet" href="style/note.css"/>
    </head>
</html>
{% block content %}
    <body>
        <nav>
            <ul>
                {% if ( statut == 'admin' ) %}
                    <li>
                        <a href="admin.php?statut={{statut}}&id={{id}}"><button>Utilisateur</button></a>
                    </li>
                {% endif %}
                <li>
                    <a href="index.php"><button>Déconnexion</button></a>
                </li>
                <li>
                    <a href="main.php?statut={{statut}}&id={{id}}&id_ticket={{id_ticket}}"><button>Tickets</button></a>
                </li>
            </ul>
        </nav>

        <h1>Commentaires :</h1>
        <main>
            <ul>
                <article>
                    {% for note in notes|reverse %}
                        {% if statut == "admin" %}
                            <li>ADMINISTRATEUR : {{ note.note }}</li>
                        {% else %}
                            <li>{{note.first_name}} {{note.last_name}} : {{ note.note }}</li>
                        {% endif %}
                    {% endfor %}
                </article>
                <section>
                    <li>
                        <form action="note.php?statut={{statut}}&id={{id}}&id_ticket={{id_ticket}}" method="post">
                            {% if statut == "admin" %}
                                <input type="text" name="addNote">
                            {% else %}
                                <input type="text" name="addNote">
                            {% endif %}
                            <button type="submit">Ajouter</button>
                        </form>
                    </li>
                </section>
            </ul>
        </main>
    </body>
{% endblock %}
